node_modules/

dist.map
*.map

logs/
*.log
coverage/

.env
.env.local
.env.*.local

.vscode/
.idea/
.DS_Store
Thumbs.db

.npm/

.prettierignore
.prettierrc*
.editorconfig
.eslint*
jest.config.*

*.tgz
*.tmp
*.swp

tsconfig*.json

.git/
.gitignore

!templates/
