name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 'lts/*'

      - name: Install dependencies
        run: npm ci

      - name: Build project
        run: npm run build

      - name: Run linter
        run: npm run lint

      - name: Run formatter
        run: npm run format

      - name: Add & Commit
        uses: EndBug/add-and-commit@v9.1.4
        with:
          default_author: github_actions
          message: 'chore: format code [skip ci]'